<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Functional Test Suite" verbose="1" >
  <test name="Valid Login" >
    <classes>
       <class name="mq.amazon_frontend.login.FR001_ValidLogin" />
    </classes>
  </test>
 
  <test name="Regression1">
    <classes>
      <!-- <class name="test.sample.ParameterSample"/>
      <class name="test.sample.ParameterTest"/> -->
    </classes>
  </test>
</suite>
